<html lang="fa-IR" dir="rtl">
    <%- include('../parts/head'); %>
<body>
    <header>
        <%- include('../parts/header'); %>
    </header>
    <main>
        <div class="content">
            <% posts.forEach((post, index) => { %>
                <div>
                    <div class="post">
                        <h3><a href=<%= post.Link %>><%= post.Title %></a></h3>
                        <p class="author"><%= post.Author %></p>
                    </div>
                    <p class="puplish-time"><i><%= post.PuplishTime %></i></p>
                    <% if (index != posts.length - 1) { %>
                        <hr>
                    <% } %>
                </div>
            <% }) %>
        </div>
        <div class="tips">
            <p><strong>حتما به نکات زیر توجه کنید:</strong></p>
            <ul>
                <li>سعی کنید از اسم های واقعی و درست استفاده کنید.</li>
                <li>لینک هاتون درست باشه وگرنه پستتون حذف خواهد شد.</li>
                <li>اسم هایی که دارای کلمات بد باشند حذف می شوند.</li>
                <li>حتما اگر پستی خراب و یا لینک اشتباه داشت به من گزارش بدید.</li>
                <li>با حمایتتون قطعا ما رو در مسیر موفقیت پیش می برید.</li>
            </ul>
        </div>
    </main>
</body>
</html>